<!doctype html>
<html>
    <head>
        <title>LinkZ</title>
        <style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body { margin: 0; padding: 0; border: none; width: 100%; height: 100%; background: #F5F5F5; color: #212121; font-family: Roboto, sans-serif; }
section { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px; background: #EEEEEE; }
div { width: 100%; font-size: 12px; color: #b71c1c; text-align: center; padding: 0 0 10px 0; }
input { border: none; padding: 5px; width: 400px; font: inherit; margin: 0 5px 0 0; }
button { border: none; background: #F5F5F5; padding: 5px; width: 100px; font: inherit; }
table { font-size: 12px; margin: 10px auto 0 auto; }
footer { position: fixed; bottom: 0; width: 100%; text-align: center; height: 30px; }
        </style>
    </head>
    <body>

<section>
    {% if error is not empty %}
    {% set messages = {
        empty_url: 'URL must not be empty.',
        invalid_url: 'Submitted data does not contain a valid URL.',
        link_not_found: 'Link was not found.',
    } %}
    <div>{{ messages[error]|default(error) }}</div>
    {% endif %}
    <form method="post" action="{{ createUrl }}">
        <input name="url" type="text" placeholder="Enter URL">
        <button type="submit">Alias!</button>
    </form>

    {% if links is not empty %}
    <table>
        {% for link in links %}
        <tr>
            <td><a href="{{ link.url }}" title="{{ link.url }}">{{ link.url|slice(0, 30) }}{% if link.url|length > 30 %}...{% endif %}</a></td>
            <td><a href="{{ router.generate('link.view', { alias: link.alias }) }}">view</a></td>
            <td><a href="{{ router.generate('link.redirect', { alias: link.alias }) }}">redirect</a></td>
            <td><a href="{{ router.generate('link.frame', { alias: link.alias }) }}">frame</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</section>

<footer>
    &copy;2018 <a href="http://kowalczyk.cc">Tomasz Kowalczyk</a>
</footer>

    </body>
</html>
